* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100vw;
    font-family: "Poppins";
}

#navbar {
    position: fixed;
    top: 0;
    /* background: rgba(67, 151, 95, 0.6); */
    background: rgba(17, 67, 145, 0.3);
    /* background: rgba(0, 6, 15, 0.61); */
    width: 100vw;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.navbarOnScroll {
    /* background: #131212f5 !important; */
    background: rgba(10, 39, 87, 0.89) !important;
    /* background-color: rgba(9, 38, 100, 1) !important; */
}

.navbar-content {
    display: flex;
    color: white;
    overflow: hidden;
    justify-content: center;
}

.logo {
    font-weight: bold;
    padding: 20px;
    margin: 0 30px;
}

#navbar a:hover {
    color: rgb(206, 206, 206);
}

#toggle-btn {
    display: none;
    margin-top: 20px;
    align-items: center;
    justify-self: flex-end;
}

#toggle-btn:hover>span {
    background: rgb(167, 167, 167);
}

.bar {
    display: block;
    height: 3px;
    width: 20px;
    background: white;
    margin: 4px 0;
    border-radius: 1.5em;
}

.navbar-content a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 0.2em;
}

.collapse {
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.nav-ul {
    display: flex;
    list-style-type: none;
    height: 100%;
}

.nav-btns {
    display: inline-flex;
    font-size: 0.8em;
    padding: 20px 20px;
    align-items: center;
}

.nav-wrap {
    height: 100%;
}

.showMenu {
    display: block !important;
}

#home {
    background: url("../imgs/1.jpg");
    background-size: cover;
    background-position: center top;
    background-attachment: scroll;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

#homeContent {
    border-radius: 0.5em;
    background: #0000005e;
    width: 35vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    color: white;
    text-shadow: 2x 2px rgba(0, 0, 0, 0.8);
    padding-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}

.btn {
    /* border: none; */
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 2rem;
    background: none;
    margin-top: 40px;
}

.btn:hover {
    color: rgb(167, 167, 167);
}

#homeContent>div {
    text-align: center;
    
}

.welcomeMessage {
    letter-spacing: 0.1em;
    /* font-family: 'Viga', sans-serif; */
    font-size: 4rem;
    white-space: nowrap;
    /* text-transform: uppercase; */
}

.desc {
    font-size: 1.4em;
    color: #F06000;
}

#about {
    overflow: hidden;
    width: 100vw;
    height: auto;
    background: rgb(2, 29, 61);
    /* background: rgb(39, 43, 48); */
    /* background: rgb(6, 27, 71); */
}

.aboutContent {
    display: flex;
    margin: 0 auto;
    width: 60vw;
    height: auto;
    text-align: justify;
    color: white;
    /* overflow: hidden; */
    align-items: center;
    padding: 50px 0;
}

#faceImage img {
    align-self: center;
    border-radius: 50%;
    border: solid 3px rgb(255, 255, 255);
    max-width: 12vw;
    height: auto;
    margin-right: 50px;
    position: relative;
    left: -50vw;
}

.description {
    position: relative;
    left: 50vw;
}

#skills {
    width: 100vw;
    height: auto;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(39, 43, 48);
}

.heading {
    margin-top: 70px;
    margin-left: 100px;
    display: inline-block;
}


.heading h3 {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 4px;
    border-bottom: 3px solid rgb(39, 43, 48);
}

#skillSet {
    width: 50vw;
    margin-top: 110px;
    margin-left: 200px;
}

#skillList {
    list-style: none;
    display: grid;
    width: 45vw;
    grid-gap: 25px 0px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.progressBar {
    height: 20px;
    border-radius: 0.2rem;
    width: 70%;
    background: rgb(221, 220, 220);
}

.progressBar span {
    border-radius: 0.2rem;
    display: block;
    /* background: rgb(59, 59, 59); */
    background: rgb(2, 29, 61);
    height: 100%;
    width: 0;
    transition: width 1.5s;
    -webkit-transition: width 1.5s;
}

.displayBars {
    width: 60% !important;
}

.progressBar p {
    display: none;
}

@media(max-width: 1568px) {
    .welcomeMessage {
        font-size: 3rem;
    }
}

@media(max-width: 1250px) {
    #homeContent {
        width: 45vw;
    }

    .welcomeMessage {
        font-size: 2.5rem;
    }

    .desc {
        font-size: 1rem;
    }

    #skills {
        flex-wrap: wrap;
        justify-content: center;
    }

    #skills>div:first-child {
        flex: 0 1 100%;
        display: flex;
        justify-content: center;
    }
    .heading {
        margin: 30px 0 30px 0;
    }

    #skillSet {
        width: 70vw;
        margin: 0;        
    }

    .skill {
        width: 40vw;
    }
    
    #faceImage img {
        max-width: 18vw;
    }

}

@media(max-width: 768px) {
    .navbar-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #toggle-btn {
        display: block;
        margin-right: 30px;
    }
    .collapse {
        display: none;
        justify-self: end;
    }
    .nav-ul, .nav-btns {
        display: block;
        align-items: flex-end;
        text-align: right;
    }
    #homeContent {
        width: 80vw;
        height: 300px;
    }
    .aboutContent {
        align-self: center;
        width: 80vw;
    }
    #faceImage img {
        display: none !important;
    }
    .description {
        width: 90vw;
    }
    .welcomeMessage {
        font-size: 2.5rem;
    }
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
    font-weight: bold;
    font-style: normal;
}